# Pipeline Build uniquement pour projet Blazor
trigger:
  branches:
    include:
    - main
    - develop
  paths:
    exclude:
    - README.md
    - docs/*

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  dotnetVersion: '10.0.x'
  projectPath: '**/dotnetprojet.csproj'
  artifactName: 'blazor-app'

jobs:
- job: BuildJob
  displayName: 'Build Blazor Application'
  steps:
  
  # Installation du SDK .NET
  - task: UseDotNet@2
    displayName: 'Installer .NET SDK $(dotnetVersion)'
    inputs:
      packageType: 'sdk'
      version: $(dotnetVersion)
  
  # Restauration des dépendances
  - task: DotNetCoreCLI@2
    displayName: 'Restore NuGet packages'
    inputs:
      command: 'restore'
      projects: '**/*.csproj'
  
  # Build du projet
  - task: DotNetCoreCLI@2
    displayName: 'Build project'
    inputs:
      command: 'build'
      projects: $(projectPath)
      arguments: '--configuration $(buildConfiguration) --no-restore'
  
  # Exécution des tests unitaires (optionnel)
  - task: DotNetCoreCLI@2
    displayName: 'Run unit tests'
    inputs:
      command: 'test'
      projects: '**/*Tests.csproj'
      arguments: '--configuration $(buildConfiguration) --no-build --collect:"XPlat Code Coverage"'
    continueOnError: true
  
  # Publication du projet
  - task: DotNetCoreCLI@2
    displayName: 'Publish application'
    inputs:
      command: 'publish'
      publishWebProjects: false
      projects: $(projectPath)
      arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
      zipAfterPublish: true
  
  # Publication des artifacts
  - task: PublishBuildArtifacts@1
    displayName: 'Publish build artifacts'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: $(artifactName)
      publishLocation: 'Container'